# CSV Files  
recursive-include nba_stat_app *.csv

# CSS Files
recursive-include nba_stat_app *.css

# picture files
recursive-include nba_stat_app *.jpeg
recursive-include nba_stat_app *.gif
recursive-include nba_stat_app *.png

# font files
recursive-include nba_stat_app *.eot
recursive-include nba_stat_app *.ttf
recursive-include nba_stat_app *.svg
recursive-include nba_stat_app *.woff
recursive-include nba_stat_app *.woff2
